test_data/*
pathopen_data/*
pathvqa_data_filtered/*
data_augmentation/pathology-he-autoaugmetation/*
data_augmentation/pathology-he-auto-augment/*
data_augmentation/images_augmented/*
data_processing/histocartography/*
data_analysis/output/*
vlm_data_archive/*
data_evaluation/pathologists/subsets_processing_output/*
data_evaluation/pathologists/scoring_analysis/input/*
data_evaluation/pathologists/scoring_analysis/output/*
data_evaluation/vlm/checkpoints/*
data_evaluation/vlm/judge_output/*
data_evaluation/vlm/agreement_output/*
data_prep_scripts/output/*
*.env
box_config.json
*.DS_Store
*.out
*.log
__pycache__/