data/*
DeepSeek-VL2/*
LLaVA/*
LLaVA-Med/*
quilt-llava/*
MedTrinity-25M/*
pathology_test_data/*
pathology_images_augmented/*
pathology-he-autoaugmetation/*
pathology-he-auto-augment/*
PathOPEN_Eval_Images/*
PathOPEN_Eval_Images_Augmented/*
PathVQA_Eval_Images/*
histocartography/*
*.csv
*.env
box_config.json